* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
}

h1 {
    color: #222;
    font-size: 48px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
}

path {
    fill: inherit;
}

.nav {
    background-color: #222222;
    display: flex;
    justify-content: center;
    gap: 859px;
}

.navigation-left {
    display: flex;
    gap: 41px;
    margin: 18px 0;
}

.navigation-right {
    margin: 18px 0;
    position: relative;
    cursor: pointer;
}

.navigation-cart-count {
    position: absolute;
    top: -4px;
    right: -9px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    color: #fff;
    background-color: #F16D7F;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
}

.nav-burger {
    display: none;
    margin: 18px 0;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 232px;
    background-color: #FFF;
    z-index: 1;
}

.menu-wrapper {
    padding: 32px;
}

.menu h3 {
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.menu-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-list-name {
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #F16D7F;
}

.menu-list-items {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-left: 21px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #6F6E6E;
}

.hidden {
    display: none;
}

.first-page {
    background-color: #F1E4E6;
    position: relative;
}

.first-page-wrapper {
    width: 1600px;
    display: flex;
    gap: 64px;
    align-items: center;
    justify-content: center;
}

.first-page-text {
    display: flex;
    gap: 16px;
    height: 92px;
    line-height: 45px;
}

.first-page-of-luxerious {
    font-size: 33px;
}

.first-page-fashion {
    color: #F16D7F;
}

.catalog {
    width: 1140px;
    padding: 65px;
    padding-bottom: 0;
    margin: 0 auto;
    margin-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.catalog-women {
    background-image: url(./img/ForWomen.png);
}

.catalog-men {
    background-image: url(./img/ForMen.png);
}

.catalog-kids {
    background-image: url(./img/ForKids.png);
}

.catalog-accesories {
    grid-column: 1/4;
    background-image: url(./img/Accesories.png);
    width: 1140px;
    height: 180px;
}

.catalog-card {
    position: relative;
}

.catalog-card-text {
    width: 154px;
    position: absolute;
    top: 105px;
    right: 103px;
}

.catalog-text-accesories {
    width: 160px;
    top: 65px;
    right: 490px;
}

.catalog-card-white_text {}

.catalog-card-pink-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products h2 {
    margin-bottom: 6px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.products-parag {
    margin-bottom: 48px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #9F9F9F;
}

.products-cards {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    gap: 30px;
    margin-bottom: 48px;
}

.product-hover {
    display: none;
    width: 360px;
    position: absolute;
    top: 0;
    left: 0;
    transition: display 1s;
}

.product-hover-btn {
    border: 1px solid #FFFFFF;
    color: #FFF;
    gap: 11px;
    padding: 11px 16px 9px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 188px;
    right: 110px;
}

.product-card-img {}

.product-card-img:hover .product-hover {
    display: block;
}

.product-card {
    position: relative;
}

.product-description {
    padding: 24px 16px;
    background-color: #f8f8f8;
}

.product-description h3 {
    margin-bottom: 16px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.product-description-parag {
    margin-bottom: 16px;
    width: 315px;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #5D5D5D;
}

.product-description-price {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #F16D7F;
}

.products-btn {
    padding: 15px 39px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #F26376;
    border: 1px solid #FF6A6A;
    margin-bottom: 95px;
    cursor: pointer;
}

.products-btn:hover {
    background-color: #FF6A6A;
    color: #FFF;
}

.benefits {
    min-height: 134px;
    padding: 103px;
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #222224;
}

.benefit-item {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benefit-item img {
    height: 40px;
    margin-bottom: 28px;
}

.benefit-item h3 {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #FBFBFB;
}

.benefit-item p {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #FBFBFB;
}

.cart-items {
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.cart-items-heading {
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #222222;
}

.cart-items h3 {
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #222222;
    margin-bottom: 24px;
}

.cart-item {
    width: 652px;
    height: 306px;
    box-shadow: 17px 19px 24px 0px #00000021;
    display: flex;
}

.cart-item img {
    width: 262px;
    height: 306px;
}

.cart-item-content {
    width: 390px;
    height: 306px;
    display: flex;
}

.cart-item-description {
    width: 262px;
    height: 232px;
    font-family: Lato;
    font-weight: 400;
    margin: 31px 22px 57px 62px;
}

.cart-item-cancel {
    width: 18px;
    height: 18px;
    margin: 28px 22px 0 0;
}

.cart-item-description h3 {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.cart-item-traits {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #575757;
}

.subscription {
    position: relative;
    display: flex;
    gap: 223px;
    justify-content: center;
    align-items: center;
    background-image: url(./img/Background.png);
    background-size: cover;
}

.subscription-background {
    width: 100%;
}

.person {
    width: 360px;
    position: absolute;
    top: 97px;
    left: 230px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.person p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.person p span {
    font-style: italic;
}

.subscription-form {
    position: absolute;
    width: 557px;
    top: 150px;
    right: 230px;
}

.subscription-form h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
}

.subscription-form p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 32px;
}

.subscription-form form {
    display: flex;
    justify-content: center;
}

.email {
    height: 49px;
    padding: 0 64px 0 22px;
    border-radius: 25px 0 0 25px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
    background-color: #E1E1E1;
    color: #222224;
}

.submit {
    height: 49px;
    width: 100px;
    border-radius: 0 25px 25px 0;
    border: none;
    background-color: #F16D7F;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
}

.footer {
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 655px;
    background-color: #222224;
}

.footer p {
    width: 332px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #FBFBFB;
}

.footer-links {
    display: flex;
    gap: 7px;
}

.footer-link-item {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    background-color: #FFF;
}

.footer-link-item svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-link-item:hover {
    background-color: #F16D7F;
    fill: #FFF;
}

@media (min-width: 768px) and (max-width: 1024px) {

    h1 {
        font-size: 44px;
    }

    .nav {
        gap: 424px;
    }

    .first-page-wrapper {
        gap: 39px;
        width: 768px;
    }

    .first-page img {
        width: 386px;
        height: 368px;
    }

    .first-page-text img {
        width: 12px;
        height: 92px;
    }

    .first-page-of-luxerious {
        font-size: 24px;
    }

    .catalog {
        width: 736px;
        padding: 65px 16px;
        padding-bottom: 0;
        margin-bottom: 110px;
        gap: 20px;
    }

    .catalog-women,
    .catalog-men,
    .catalog-kids {
        width: 232px;
        height: 167px;
        background-size: cover;
    }

    .catalog-accesories {
        width: 735px;
        height: 116px;
        background-size: cover;
    }

    .catalog-accesories img {
        width: 735px;
        height: 116px;
    }

    .catalog-card-text {
        top: 59px;
        right: 40px;
    }

    .catalog-text-accesories {
        top: 33px;
        right: 287px;
    }

    .products h2 {
        margin-bottom: 3px;
    }

    .products-parag {
        margin-bottom: 73px;
    }

    .products-cards {
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
        margin-bottom: 32px;
    }

    .products-btn {
        margin-bottom: 71px;
    }

    .benefits {
        padding: 48px 204px 64px;
        gap: 48px;
        flex-direction: column;
        align-items: center;
    }

    .subscription {
        width: 100%;
        height: 614px;
        flex-direction: column;
        gap: 48px;
        background-image: url(./img/BackgroundMobile.jpg);
    }

    .person {
        top: 64px;
        left: 204px;
    }

    .subscription-form {
        height: 137px;
        left: 105px;
        bottom: 140px;
        top: auto;
        right: auto;
    }

    .subscription-background {
        width: 100%;
        height: 614px;
    }

    .footer {
        gap: 305px;
    }

    .footer p {
        width: 251px;
    }
}

@media (min-width: 375px) and (max-width: 767px) {

    h1 {
        font-size: 38px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        line-height: 30px;
    }

    .nav {
        gap: 200px;
    }

    .navigation-right {
        display: none;
    }

    .nav-burger {
        display: inline;
    }

    .first-page-wrapper {
        width: 263px;
        gap: 0px;
        height: 363px;
        margin-left: 56px;
    }

    .first-page-text {
        gap: 15px;
        height: 66px;
        line-height: 24px;
        width: 263px;
    }

    .first-page-text img {
        width: 12px;
        height: 61px;
    }

    .first-page-of-luxerious {
        font-size: 20px;
    }

    .first-page-man {
        display: none;
    }

    .catalog {
        width: 343px;
        padding: 65px 16px 0;
        margin-bottom: 64px;
        display: flex;
        flex-direction: column;
    }

    .catalog-women,
    .catalog-men,
    .catalog-kids {
        width: 343px;
        height: 247px;
        background-size: cover;
    }

    .catalog-accesories {
        width: 344px;
        height: 111px;
        background-size: cover;
        background-position: center;
    }

    .catalog-accesories img {
        width: 343px;
        height: 111px;
    }

    .catalog-text-accesories {
        width: 160px;
        top: 30px;
        right: 92px;
    }

    .products h2 {
        margin-bottom: 3px;
    }

    .products-parag {
        margin-bottom: 65px;
    }

    .products-cards {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .benefits {
        padding: 48px 13px 81px;
        gap: 46px;
        flex-direction: column;
        align-items: center;
    }

    .subscription {
        width: 100%;
        height: 550px;
        gap: 59px;
        background-image: url(./img/BackgroundMobile.jpg);
        background-size: cover;
        background-position: center;
    }

    .subscription-background {
        width: 100%;
        height: 550px;
    }

    .person {
        width: 343px;
        top: 64px;
        left: auto;
    }

    .person p {
        font-size: 18px;
        line-height: 22px;
    }

    .subscription-form {
        width: 341px;
        height: 123px;
        bottom: 110px;
        left: auto;
        top: auto;
        right: auto;
    }

    .subscription-form h3 {
        line-height: 37px;
    }

    .subscription-form p {
        margin-bottom: 22px;
        font-size: 14px;
        line-height: 21px;
    }

    .email {
        height: 47px;
    }

    .submit {
        height: 47px;
        width: 96px;
    }

    .footer {
        max-height: 143px;
        padding: 43px 62px 9px;
        flex-direction: column-reverse;
        gap: 40px;
    }

    .footer p {
        width: 251px;
    }

}